@import url('./ecorp.css');

body{
    color: #fdfeff;
    background: #212529 url('https://wallpaperaccess.com/full/1194086.jpg') center/cover no-repeat;
    background-blend-mode: overlay;
    background-attachment: fixed;
    height: 100vh;
}

a, i{
    text-decoration: none;
    color: #fdfeff88;
}

a:hover, i:hover{
    color: #fdfeff;
}



footer{
    color: #fdfeff88;
}

/*NAVBAR*/
.navbar-brand{
    color: #fdfeff !important;
    text-transform: uppercase;
    text-decoration: underline #2980b9 0.5rem;
    letter-spacing: 2px;
}
.navbar-toggler{
    background: #fdfeff88;
}

/*OFFCANVAS*/
.offcanvas{
    background: #3498dbc5;
}

/*BOX-INFO-Display*/
.box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fdfeff;
    background-color: #3498db1e;
    width: 100%;
    min-height: 7rem;
    font-size: large;
    border-radius: 5px;
    margin: 0.5rem 0;
}

.box:hover{
    background-color: #fdfeff2c;
    border: #2980b9 1px solid;
}

.box-city {
    width: 100%;
}

.box-city{
    background-color: #2980b91e;
    font-size: x-large;
}



.box-name{
    position: absolute;
    bottom: 0;
    font-size: small;
    color: #fdfeff88;
}