body{
    background-image: url('https://wallpaperaccess.com/full/1194086.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: rgb(0, 200, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: chartreuse 3px solid; */
}

.box-container{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}

#city{
    background-color: rgba(41, 128, 185, 0.75);
}

#temp{
    background-color: rgba(43, 78, 101, 0.75);
}

#humidity{
    background-color: rgba(52, 152, 219, 0.75);
}

#wind{
    background-color: rgba(143, 146, 154, 0.75);
}

.byLS {
    position: absolute;
    bottom: 0;
    background-color: rgba(2, 81, 100, 0.541);
}
.byLS, h1{
    color: white;
}

.logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.logo img {
    width: 20%;
}